.aboutWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    background-color: rgb(250, 250, 250);
    color: rgb(24, 24, 24);
}

.aboutContent {
    padding-top: var(--topBarHeight);
    width: 1080px;
    max-width: 1080px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.aboutDescription {
    margin-top: 15px;
}

.aboutHeader {
    font-family: -apple-system, BlinkMacSystemFont, films, 'Yu Gothic Light', 'Roboto', 'Ubuntu', 'Droid Sans', 'sans-serif';
    font-size: 60px;
    padding-top: 15px;
}

.aboutSection {
    width: 800px;
    margin-bottom: 35px;
}

.founderBioHeader {
    font-size: 22px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
}

.title {
    font-style: italic;
    margin-left: 3px;
}

@media (max-width: 1200px) {
    .aboutContent {
      width: 70%;
    }
  }


  @media (max-width: 1080px) {
    .aboutSection {
        width: 70%;
    }

    .founderBio {
        flex-direction: column !important;
    }
}

.founderBio {
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    padding-bottom: 15px;
}

   
.portrait {
    max-width: 150px;
    max-height: 150px;
    margin-right: 15px;
    border-radius: 25px;
    padding-top: 12px;
  }
  
