

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Yu Gothic Light', 'Roboto', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  background-color: rgba(0,0,0,.1);
  width: 100%;
  margin: 0;
  min-height: 100%;
  flex: 1;
}

.topBar {
  height: 120px;
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: rgba(0,0,0,.85);
  border-bottom: 1px solid rgb(0,0,0);
  font-weight: bold;
  color: rgba(255, 255, 255, 0.9);
  font-size: 22px;
  max-height: 100px;
}

.landingContent {
  background-color: rgb(0, 0, 15);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 100vh;
  width: 100%;
  justify-content: center;
}

.landingHeader {
  height: 280px;
  width: 300px;
  display: flex;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Candara', 'Roboto',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  color: rgb(255,255,255);
}


.five {
  font-size: 205px;
}

.rings {
  text-align: left;
  padding-top: 64px;
  padding-left: 10px;
  font-size: 78px;
}

.landingLinks {
  display: flex;
  justify-content: space-between;
  margin-bottom: 33%;
  width: 300px;
  margin-left: 88px;
}

.landingLink {
  text-decoration: none;
  font-size: 24px;
  color: rgba(255, 255, 255, .8);
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
}

.landingLink:hover {
  color: rgb(255,255,255);
}

.landingLink:after {
  position: absolute;
  content: '';
  height: 2px;
  bottom: -.5rem;
  left: 0;
  right: 0;
  width: 50%;
  background-color: rgba(255, 255, 255, .8);
  margin: 0 auto;

  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.landingLink:hover:after {
  width: 80%;
  background: rgb(255, 255, 255);
}

.logo {
  font-size: 44px !important;
  padding-left: 20px;
  color: rgba(255, 255, 255, 0.95);;
  text-decoration: inherit;
  font-family: -apple-system, BlinkMacSystemFont, 'Candara', 'Roboto',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

@media (max-width: 700px) {
  .landingContent {
    margin-top: 100px;
  }

  .logo {
    font-size: 30px !important;
  }
}


.topBarWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1580px;
  max-width: 90%;
  padding: 10px;
  margin: 0 auto;
}

.topBarLinks {
  text-align: center;
  display: flex;
}

.topBarLink {
  display: inline;
  margin: 10px;
  font-size: 15;
  color: rgba(255, 255, 255, 0.7);
  font-weight: normal;
}

.nav-link {
  color: inherit;
  text-decoration: inherit;
}

.nav-link:hover {
  color: rgba(132, 151, 255, 0.192);
  text-shadow: 2px 2px #ffffff;
}

.portfolioLinks {
  padding: 20px;
  width: 100%;
  background-color: rgb(41, 41, 50);
  color: rgba(255, 255, 255, 0.8);
}

.portfolioLinksWrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 880px;
  padding-right: 40px;
}

@media only screen and (max-width: 1080px) {
  .portfolioLinksWrapper {
    flex-direction: column;
    align-items: center;
    align-self: center;
  }
}

.mainImgWrapper {
  padding: 0;
  position: relative;
  margin: 0 auto;
  background-color: rgb(41, 41, 50);
}

.mainImg {
  max-height: 810px;
  filter: contrast(70%);
  margin: 0;
  width: 100%;
}

.mainPageAbout {
  background-color: rgb(41, 41, 50);
  color: rgba(255,255,255,.9);
  padding: 100px;
  padding-top: 60px;
}

.legendHeader {
  color: rgb(255, 255, 255) !important;
  position: absolute !important;
  top: 70px;
  left: 100px;
  font-size: 88px !important;
  text-align: left !important;
  background-color: rgba(0,0,0,.25);
  padding: 25px;
  min-height: 170px;
  width: 70%;
  border-radius: 20px;
  opacity: 1 !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Impact', 'Oswald', sans-serif;
}

.legendHeader::after {
  content: "Descriptive text: Merry alone do it burst me songs. Sorry equal charm joy her those folly ham.";
  font-size: 20px !important;
  font-weight: bolder;
  font-family:  -apple-system, BlinkMacSystemFont, 'Yu Gothic Light', 'Roboto', sans-serif !important;
  position: absolute !important;
  top: 120px;
  left: 25px;
}

@media (max-width: 700px) {
  .legendHeader {
    font-size: 36px !important;
    top: 0px;
    left: 10px;
  }

  .legendHeader::after {
    top: 70px;
    left: 25px;
  }
}

.linkImage {
  max-width: 100px;
  max-height: 100px;
}

.aboutContent {
  display: flex;
  flex-direction: column;
  background-color: rgb(15, 15, 25);
}

.aboutWrapper {
  padding: 100px;
  display: flex;
  flex-direction: column;
  color: rgba(255,255,255,.9);
}

.aboutHeader {
  font-size: 30px;
  margin-bottom: 50px;
}

.aboutBackground {
  max-height: 140px;
}

.founderBiosHeader {
  font-size: 30px;
  color: rgba(255,255,255,.9);
}

.founderBioHeader {
  font-size: 24px;
  margin-top: 10px;
  /* margin-bottom: 10px; */
}

.founderBio {
  font-size: 14px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1080px;
}

.aboutSection {
  margin-top: 10px;
  margin-bottom: 20px;
}

@media (max-width: 700px) {
  .founderBio {
    flex-direction: column;
    align-items: flex-start;
  }

  .aboutWrapper {
    padding: 50px;
  }
}

hr {
  border: 0;
  border-top: 1px solid rgba(255,255,255,.9);
  width: 70%;
  margin-bottom: 50px;
}

.portrait {
  max-width: 150px;
  max-height: 150px;
  margin-right: 15px;
  border-radius: 25px;
}

.portfolioContent {
  display: flex;
  flex-direction: column;
}

.footer {
  background-color: rgb(0,0,0);
  color: rgba(255,255,255, .7);
  min-height: 75px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  font-size: 10px;
}

.footerLogo {
  font-size: 22px;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1080px;
  max-width: 100%;
  margin: 0 auto;
}

.socialLinks {
  display: flex;
  flex-direction: column;
  margin-right: 173px;
  font-size: 12px;
}

.contactContent {
  display: flex;
  flex-direction: column;
  background-color: rgb(41, 41, 50);
  min-height: calc(100vh - 125px);
}

@media (max-width: 700px) {
  .contactContent {
    height: 100%;
    padding-bottom: 100px;
  }
}

.emailsWrapper {
  display: flex;
  flex: 1;
  flex-direction: row;
  width: 1080px;
  margin: 0 auto;
  padding-top: 50px;
  padding-left: 75px;
}

.emailDescription {
  color: rgb(255,255,255, .8);
  font-style: italic;
}


.email {
  color: rgb(255,255,255, .9);
  margin-bottom: 25px;
}

.emailHeader {
  color: rgb(255,255,255, .9);
  font-size: 25px;
}