

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  background-color: rgba(0,0,0,.1);
  width: 100%;
  margin: 0;
}

.topBar {
  height: 120px;
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: rgba(0,0,0,.85);
  border-bottom: 1px solid rgb(0,0,0);
  font-weight: bold;
  color: rgba(255, 255, 255, 0.9);
  font-size: 22px;
  max-height: 100px;
}

.landingContent {
  background-color: rgba(255, 255, 255, 0.9);
  height: 100%;
  width: 100%;
  margin: 0px;
}

.logo {
  font-size: 40px !important;
  padding-left: 20px;
  color: rgba(255, 255, 255, 0.95);;
  text-decoration: inherit;
}

@media (max-width: 700px) {
  .landingContent {
    margin-top: 100px;
  }

  .logo {
    max-width: 130px;
    font-size: 30px !important;
  }
}




.topBarWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1080px;
  max-width: 100%;
  padding: 10px;
  margin: 0 auto;
}

.topBarLinks {
  text-align: center;
  display: flex;
}

.topBarLink {
  display: inline;
  margin: 10px;
  font-size: 15;
  color: rgba(255, 255, 255, 0.7);
  font-weight: normal;
}

.nav-link {
  color: inherit;
  text-decoration: inherit;
}

.nav-link:hover {
  color: rgba(132, 151, 255, 0.192);
  text-shadow: 2px 2px #ffffff;
}

.portfolioLinks {
  padding: 20px;
  width: 100%;
  background-color: rgb(41, 41, 50);
  color: rgba(255, 255, 255, 0.8);
}

.portfolioLinksWrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1080px;
  padding-right: 40px;
}

@media only screen and (max-width: 1080px) {
  .portfolioLinksWrapper {
    flex-direction: column;
    align-items: center;
    align-self: center;
  }
}

.linkImage {
  max-width: 100px;
  max-height: 100px;
}

.aboutContent {
  display: flex;
  flex-direction: column;
  background-color: rgb(41, 41, 50);
}

.aboutWrapper {
  padding: 100px;
  display: flex;
  flex-direction: column;
  color: rgba(255,255,255,.9);
}

.aboutHeader {
  font-size: 30px;
  margin-bottom: 50px;
}

.aboutBackground {
  max-height: 140px;
}

.founderBiosHeader {
  font-size: 30px;
  color: rgba(255,255,255,.9);
}

.founderBioHeader {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.founderBio {
  font-size: 14px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1080px;
}

.aboutSection {
  margin-top: 10px;
  margin-bottom: 20px;
}

@media (max-width: 700px) {
  .founderBio {
    flex-direction: column;
    align-items: flex-start;
  }
}

.portrait {
  max-width: 150px;
  max-height: 150px;
  margin-right: 15px;
  border-radius: 25px;
}

.portfolioContent {
  display: flex;
  flex-direction: column;
}

.footer {
  background-color: rgba(0,0,0,.95);
  color: rgba(255,255,255, .7);
  min-height: 100px;
  padding: 50px;
  width: 100%;
}

.footerLogo {
  font-size: 22px;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1080px;
  max-width: 100%;
  padding: 10px;
  margin: 0 auto;
}

.socialLinks {
  display: flex;
  flex-direction: column;
  margin-right: 173px;
}

.contactContent {
  display: flex;
  flex-direction: column;
  background-color: rgb(41, 41, 50);
}

.emailsWrapper {
  display: flex;
  flex-direction: row;
  width: 1080px;
  margin: 0 auto;
  padding-top: 100px;
  padding-left: 75px;
  padding-bottom: 400px;
}

.emailDescription {
  color: rgb(255,255,255, .8);
  font-style: italic;
}


.email {
  color: rgb(255,255,255, .9);
  margin-bottom: 25px;
}

.emailHeader {
  color: rgb(255,255,255, .9);
  font-size: 25px;
}